{% extends 'base.html' %}
{% block content %}

  <!--Main layout-->


      <!-- Heading -->
      {{form.errors}}
      <h2 class="my-5 h2 text-center">Checkout form</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->

            <form class="card-body" action="{% url 'core:checkout' %}"  method="POST">
              {% csrf_token %}
              <!--address-->
              <div class="md-form mb-5">
                <input value="st1" type="text" name="street_address" id="street_address" class="form-control" placeholder="1234 Main St">
                <label for="street_address" class="">Street address</label>
              </div>

              <!--address-2-->
              <div class="md-form mb-5">
                <input value="st2" type="text" name="apartment_address" id="apartment_address" class="form-control" placeholder="Apartment or suite">
                <label for="apartment_address" class="">Apartment address</label>
              </div>

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="country">Country</label>
                  {{form.country}}

                </div>
                <!--Grid column-->



                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="zip">Zip</label>
                  <input value="123" name="zip" type="text" class="form-control" id="zip" placeholder="" >

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <hr>

              <div class="custom-control custom-checkbox">
                <input checked name="same_billing_address" type="checkbox" class="custom-control-input" id="same-address">
                <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input name="set_default_shipping" type="checkbox" class="custom-control-input" id="save-info">
                <label class="custom-control-label" for="save-info">Save this information for next time</label>
              </div>

              <hr>

              <div class="d-block my-3">
                <div class="custom-control custom-radio">
                  <input checked value="S" id="debit" name="payment_option" type="radio" class="custom-control-input">
                  <label class="custom-control-label" for="debit">Stripe</label>
                </div>
                <div class="custom-control custom-radio">
                  <input value="P" id="paypal" name="payment_option" type="radio" class="custom-control-input">
                  <label class="custom-control-label" for="paypal">Paypal</label>
                </div>
              </div>

              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->
          <div class="col-md-4 mb-4">
            {% include 'core/order_summary.html' %}
          </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

  <!--Main layout-->

{% endblock %}
