{% extends 'base.html' %}
{% block content %}

  <!--Main layout-->


  <div class="table-responsive text-nowrap">
      <h2>Order Summary</h2>
      <table class="table">
          <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Item title</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total Item Price</th>
              <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          {% for item in order.items.all %}
          <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ item.item.title }}</td>
              <td>
                {% if item.item.discount_price %}
                  {{ item.item.discount_price }}
                {% else %}
                  {{ item.item.price }}
                {% endif %}
              </td>
              <td>
                <form id='{{item.item.pk}}' action="{% url 'core:add_cart' item.item.pk %}" method="POST">
                  {% csrf_token %}
                  <select name="quantity" onchange="func({{item.item.pk}})">
                    {% for i in  range %}
                    <option {%if item.quantity == i %}selected{% endif %} value="{{i}}">{{i}}</option>
                    {% endfor %}
                  </select>
                </form>

              </td>
              <td>
              {{ item.total_price }}
              </td>
              <td >
                <a style='color: red;' href="{% url 'core:remove_cart' item.item.pk  %}">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
          </tr>
          {% empty %}
          <tr>
              <td colspan='5'>Your cart is empty</td>
          </tr>
          <tr >
              <td colspan="6">
              <a class='btn btn-primary float-right' href="{% url 'core:home' %}">Continue shopping</a>
              </td>
          </tr>
          {% endfor %}


          {% if order.total_price %}
            <tr>
                <td colspan="5"><b>Order Total</b></td>
                <td><b>${{ order.total_price }}</b></td>
            </tr>
            <tr>
                <td colspan="6">
                <a class='btn btn-warning float-right ml-2' href="{% url 'core:checkout' %}">Proceed to checkout</a>
                <a class='btn btn-primary float-right' href="{% url 'core:home' %}">Continue shopping</a>
                </td>
            </tr>
        {% endif %}

          </tbody>
      </table>

      </div>

{% block extra_scripts %}
  <script>
  function func(n){
    form = document.getElementById(n);
    form.submit();
  }
  </script>
{% endblock %}
  <!--Main layout-->

{% endblock %}
