{% extends 'base.html' %}

{% block content %}
  <!--Main layout-->

      <!--Grid row-->



      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{item.image.url}}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{item.get_category_display}}</span>
              </a>
              <a href="">
                <span class="badge blue mr-1">New</span>
              </a>
              <a href="">
                <span class="badge red mr-1">Bestseller</span>
              </a>
            </div>

            <p class="lead">
              {%  if item.discount_price %}
              <span class="mr-1">
                <del>${{item.price}}</del>
              </span>
              <span>${{item.discount_price}}</span>
              {% else %}
              <strong>${{item.price}}</strong>
              {% endif %}
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{item.description}}</p>

            {% if not selected %}
            <form class="d-flex justify-content-left" action="{% url 'core:add_cart' item.pk %}" method="POST">
              {% csrf_token %}
              <!-- Default input -->
              <input name='quantity' min='0' max='100' type="hidden" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form>
            {% else %}
            <a class="mt-5 btn btn-danger btn-md my-0 p" href="{% url 'core:remove_cart' item.pk %}">remove from cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            {% endif %}

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        
        {% if item.extra_info %}

        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>{{item.extra_info}}</p>

        </div>
        <!--Grid column-->

        {% endif %}

      </div>
      <!--Grid row-->

      
      
<!--       other items
      <div class="row wow fadeIn">

        
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

        </div>
  
        
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

        </div>

        
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

        </div>
     
        

      </div> -->



      

  <!--Main layout-->

{% endblock %}
